target/
*.iml
.DS_Store

run/world/
run/world_nether/
run/world_the_end/
run/logs/
run/cache/
run/crash-reports/
run/libraries/
run/versions/
run/plugins/.paper-remapped/
run/plugins/.cache/
run/plugins/Terra/
run/plugins/Blume/
run/plugins/ViaVersion/
run/plugins/ViaBackwards/
run/paper.jar
run/plugins/*.jar

.cursor/
.cursorignore