target/
.idea/
*.iml
.DS_Store

run/*
!run/scripts/
!run/scripts/**
!bukkit.yml
!ops.json
!server.properties

docs/blume-pack.zip
docs/blume-bedrock-pack.zip
docs/blume-geyser-mappings.json

.cursor/
.cursorignore